.landing-page {
  width: 980px;
  margin: 0 auto;
}

html {
  // background-color: #EDF0F5;
  background-color: white;
}

.under-construction {
  width: 850px;
  margin: 0 auto;

  img {
    height: 500px;
  }
}

.logout-dropdown {
  width: 200px;
  position: absolute;
  background-color: white;
  top: 35px;
  right: 0px;
  height: 20px;
  border-radius: 5px;
  z-index: 2;

  .logout-container {
    text-align: center;
    width: 200px;

    li {
      margin-left: 0px;
      margin-bottom: 3px;
    }

    li:hover {
      background-color: #4367b2;
      width: 200px;
      border-radius: 5px;
      cursor: pointer;
    }
    a {
      color: #292d34;
      cursor: pointer;
      border-right: none;
    }
  }

}
