.landing-page {
  width: 980px;
  margin: 0 auto;
}

html {
  background-color: #EDF0F5;
}

.under-construction {
  width: 850px;
  margin: 0 auto;

  img {
    height: 500px;
  }
}

.logout-dropdown {
  width: 200px;
  position: absolute;
  background-color: white;
  top: 35px;
  right: 0px;
  height: 20px;
  border-radius: 5px;
  z-index: 2;

  .logout-container {
    text-align: center;
    width: 200px;

    li:hover {
      background-color: #4367b2;
      width: 100%;
      border-radius: 5px;
    }
    a {
      color: #292d34;
      cursor: pointer;
    }
  }

}
