.nav-background {
  background-color: #385996;
  margin: 0;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #385996;
}

.logo {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.login-form {
  padding-top: 30px;
  display: flex;
}

.login-email {
  margin-right: 5px;
  border: 1px solid #ccc;
  height: 18px;
  position: relative;
}

.login-email-label {
  position: absolute;
  margin-top: -20px;
}

.login-password {
  margin-right: 5px;
  border: 1px solid #ccc;
  height: 18px;
}

.login-password-label {
  position: absolute;
  margin-top: -20px;
}
