.nav-background {
  background-color: #385996;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #385996;
}

.logo {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 25px;
  padding-bottom: 0px;
}

.login-form > input {
  margin: 5px;
}

.login-button {
}
