.nav-background {
  background-color: #3e5c9a;
  margin: 0;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #3e5c9a;
}

.logo {
  text-transform: lowercase;
  font-weight: 700;
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.login-form {
  padding-top: 30px;
  display: flex;
  position: relative;
  align-items: flex-end;

  button {
    font-size: 12px;
    background-color: #4267b2;
    border-color: #29487d;
    border-radius: 0;
    color: white;
    cursor: pointer;
    height: 25px;

    &:hover {
      background-color: #365899;
    }
  }

  div:not(.login-error) {
    display: flex;
    flex-direction: column;
  }

  div:last-child {
    flex-direction: row;

    button:first-child {
      margin-right: 15px;
    }
  }
}

.login-email, .login-password {
  margin-right: 15px;
  border: 1px solid #ccc;
  height: 25px;
  width: 150px;
  font-size: 11px;
  padding: 0 2px;
}

.login-email-label, .login-password-label {
  // position: absolute;
  margin-bottom: 5px;
  margin-top: -10px;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.login-button {
  letter-spacing: inherit;
  border-color: #29487d;
  cursor: pointer;
  color: white;
  background: none;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 5px;
  white-space: nowrap;
  display: inline-block;
  border: 0;
  background-color: #4267b2;
}

.login-container {
  position: relative;
}

.guest-login {
  height: 19px;
  position: absolute;
  right: -50px;
  top: 32px;
}

// Errors

.login-error {
  position: absolute;
  top: 25px;
  left: -140px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 95px;
  font-size: 12px;
}
