.newsfeed-nav-container {
  top: 0;
  height: 45px;
  background-color: #45629d;
  padding: 10px 0px;
  z-index: 1000;
  left: 0;
  right: 0;
  position: fixed;
}

.newsfeed-nav-items {
  width: 850px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  z-index: 5px;

  i {
    font-size: 26.5px;
  }

  li {
    font-size: 12px;
    line-height: 25px;

    i {
      font-size: 18px;
    }

    a {
      padding-left: 5px;
      padding-right: 10px;
      border-right: 1px solid #365899;
      height: 100%;
    }

    &:nth-child(2) {
      color: white;
    }
  }
}

.nav-profile-image {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-bottom: -8px;
  margin-top: -4px
}

.navbar-items {
  display: flex;
  font-size: 20px;

  li {
    margin-left: 10px;
  }
}

.fa-facebook-official {
  position: absolute;
  top: 0px;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white
}

.feed {
  top: 200px;
}
