.newsfeed-nav-container {
  top: 0;
  box-sizing: border-box;
  height: 42px;
  background-color: #45629d;
  padding: 10px 0px;
  z-index: 1000;
  left: 0;
  right: 0;
  position: fixed;
}

.newsfeed_container {
  width: 1012px;
  margin: 60px auto;
}

.newsfeed-loading-animation {
  margin-left: 40%;
  margin-top: 20px;
}

.newsfeed-nav-items {
  width: 1012px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;

  i {
    font-size: 26.5px;
  }

  li {
    font-size: 12px;
    line-height: 25px;

    i {
      font-size: 18px;
    }

    a {
      padding-left: 5px;
      padding-right: 10px;
      border-right: 1px solid #365899;
      height: 100%;
    }

    &:nth-child(2) {
      color: white;
    }
  }
}
.nav-profile-image-container {
  &:hover {
    // background-color: #4267b2;
    background-color: #29487d;
  }
}
.nav-profile-image {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-bottom: -8px;
  margin-top: -4px
}

.navbar-items {
  display: flex;
  font-size: 20px;

  li {
    margin-left: 10px;
  }
}

.fa-facebook-official {
  position: absolute;
  top: 0px;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white
}

.feed {
  top: 200px;
}

.loading-spin {
  margin-left: 50%;
  margin-top: 100px;
}
