.posts-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.post-form-container {
  width: 510px;
  background-color: white;
  border-radius: 2px;
}

.list-of-post {
  li {
    margin-top: 10px;
  }
}

.post-form-option-container {
  background-color: #f6f7f9;
  height: 35px;
}

.make-a-post {
  height: 35px;
  padding: 10px;
  background: whitesmoke;
  line-height: 15px;
  font-size: 12px;
  color: #4b4f56;

  i {
    padding-right: 5px;
  }
}

.post-inner-container {
  display: flex;
  position: relative;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
  }
}

.post-input-field {
  resize: none;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 27.5px;
  padding-bottom: 10px;
  padding-right: 50px;

  textarea {
    font-size: 12px;
    line-height: 15px;
  }
}

.post-form-button-container {
  height: 41px;
  border-top: 1px solid grey;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    height: 100%;
    background-color: #4368b1;
    min-width: 60px;
    color: white;
  }
}

// .post-submit-button {
//   color: white;
//   font-weight: bold;
//   background-color: #4368b1;
//   height: 24px;
//   width: 60px;
//   margin-top: 5px;
//   margin-right: 5px;
// }

.post-dropdown-container {
  position: relative;

  .post-dropdown {
    top: -8px;
    right: 5px;
    width: 170px;
    height: 40px;
    z-index: 2;
    position: absolute;
    background-color: white;
    padding: 5px 0px;
    box-shadow: 1px 3px 14px 1px rgba(0, 0, 0, 0.54);

    .selection-option {
      margin: -3px 0px;
      padding: 2px 0px;
    }

    li:hover {
      background-color: #4367b2;
      width: 100%;
      cursor: pointer;
    }

    button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      width: 170px;
      text-align: left;
    }

    button:hover {
      color: white;
    }
    // a {
    //   color: #292d34;
    //   cursor: pointer;
    // }
  }
}

#menu > .fa-ellipsis-h {
  padding: 9px;
  color: #6d757c;

  &:hover {
    cursor: pointer;
    color: #30353d;
  }
}
