.profile-page-container {
  width: 900px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.top-profile-portion-container {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.profile-image-container {
  width: 160px;
  height: 160px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  margin: 4px;
}

.profile-image-second-container {
  height: 168px;
  width: 168px;
  position: absolute;
  top: 175px;
  left: 20px;
  background-color: white;
}

.profile-image {
  width: 100%;
  background-color: #fff;
}

.upload-image-container {
  width: 100%;
}

.profile-image-hover-text {

}

.upload-image-hover {
  position: absolute;
  bottom: 0;
  color: transparent;
  width: 100%;
  display: flex;
}

.upload-image-hover:hover {
  position: absolute;
  background-color: black;
  height: 52px;
  width: 100%;
  bottom: 0px;
  color: white;
  font-size: 12px;
}

.profile-cover-container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  height: 315px;
}

.profile-cover-image {
  width: 100%;
}

.profile-pages-container {
  background-color: white;
}

.profile-pages {
  display: flex;
  margin: 0 auto;
  width: 360px;
}

.profile-pages > li {
  color: #0800ee;
  text-decoration: underline;
  font-weight: bold;
  height: 43px;
  line-height: 3.05;
  padding: 0 17px;
  font-size: 14px;
  border-left: 1px solid #e9eaed;
}

.profile-pages > li:last-child {
  border-right: 1px solid #e9eaed;
}

// Modal Profile Image

.modal-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  height: 40px;
  background-color: #f6f7f9;
  h2 {
    padding: 15px;
  }
}

.modal-close-button {
  cursor: pointer;
}

.modal{
  padding: 0px;
  width: 775px;
  // height: 601px;
  height: 320px;
  background-color: white;
  margin: 0 auto;
  margin-top: 35px;
}

.modal-body-container {
  width: 100%;
}

.modal-body {
  display: flex;
  cursor: pointer;
  font-size: 26px;
  height: 270px;

  i {
    margin-right: 15px;
  }

  .modal-body-label {
    padding: 120px;
    padding-left: 300px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  #profile-image {
    display: none;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(140, 141, 143, .4);
}

.modal-image-body {
  text-align: center;
  background-color: #f2f2f2;
}

.modal-image-view {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  padding: 30px;
}

.modal-image {
  padding: 0px;
  width: 775px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 35px;
}

.modal-image-footer {
  border-top: 1px solid #dddfe2;
  height: 42px;
  display: flex;
  justify-content: flex-end;

  .image-cancel-button {
    cursor: pointer;
  }

  .image-save-button {
    margin-left: 4px;
    background-color: #4267b2;
    cursor: pointer;
  }
}
