li {
  list-style: none;
}
.post-list {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}

.post-list-container {
  width: 510px;
  background-color: white;
  height: auto;

  > p {
    padding: 0px 15px 20px 15px;
  }
}

.entire-top-container {
  justify-content: space-between;
}

.post-top-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p:first-child, a {
    font-size: 16px;
    line-height: 20px;
    color: #365899;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 15px;
    font-size: 12px;
    color: #90949c
  }
}

.post-top-left-container {
  display: flex;

  > div {
    height: 40px;
  }
}

.post-name-container {
  display: flex;
  flex-direction: column;
}
