li {
  list-style: none;
}

.comment-input-field {
  border-radius: 16px;
  padding-left: 5px;
  border: 1px solid #dddfe2;
  align-items: center;
  line-height: 33px;
  font-size: 13px;
  position: absolute;
  width: 446px;
  resize: none;
  padding-right: 0;
  height: 35px;
}

.entire-comment-container {
  margin-left: 10px;
}

.loading-more-comments {
  font-size: 13px;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.comment-container {
  padding: 10px 0;
  display: flex;
  width: 100%;
  .comment-content {
    word-wrap: break-word;
    background-color: #ebedf0;
    border-radius: 18px;
    display: block;
    line-height: 16px;
    padding: 9px 12px;
    font-size: 13px;
    max-width: 90%;

    .comment-owner-name {
      margin-right: 5px;
      color: #365899;
      cursor: pointer;
      text-decoration: none;
      max-width: 10%;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

input::placeholder {
  vertical-align: middle;
}

.post-list {
  margin-top: 20px;

  &:first-child {
    margin-top: 15px;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}

.post-list-container {
  width: 510px;
  background-color: white;
  height: auto;

  > p {
    padding: 0px 15px 20px 15px;
  }
}

.entire-top-container {
  justify-content: space-between;
}

.post-top-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p:first-child,
  a {
    font-size: 16px;
    line-height: 20px;
    color: #365899;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 15px;
    font-size: 12px;
    color: #90949c;
  }
}

.post-top-left-container {
  display: flex;

  > div {
    height: 40px;
  }
}

.post-name-container {
  display: flex;
  flex-direction: column;
}

.like-container {
  border-top: 1px solid #abadb3;
  border-bottom: 1px solid #abadb3;
  padding: 10px;
  margin-bottom: 15px;

  .liked {
    padding-left: 25px;

    span {
      font-size: 20px;
    }

    i {
      color: #365899;
      font-size: 22px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .like {
    padding-left: 25px;

    span {
      font-size: 20px;
    }

    i {
      font-size: 22px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.like-count-container {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid #abadb3;
  i {
    color: blue;
  }
}
