.top-profile-portion-container {
  height: 0px;
  left: 50%;
  top: 0px;
  position: absolute;
}

.top-profile-portion {
  width: 800px;
  position: relative;
  left: -57%;
  z-index: -1;
}

.profile-image {
  background-color: #fff;
  padding: 4px;
  position: relative;
  top: 200px;
  left: 20px;
  height: 180px;
  width: 180px;
}

.profile-cover-image {
  width: 800px;
  position: absolute;
  top: -189px;
  z-index: -1;
}

.profile-pages-container {
  background-color: white;
  top: 375px;
  position: absolute;
  width: 800px;
  z-index: -1;
}

.profile-pages {
  display: flex;
  margin: 0 auto;
  width: 360px;
}

.profile-pages > li {
  padding: 10px;
  border-left: 1px solid;
}

.profile-pages > li:last-child {
  border-right: 1px solid;
}
