button:hover {
  cursor: pointer;
}

.profile-left-section {
  display: flex;
  flex-direction: column;
  width: 323px;
  margin: 20px 0px;
}

.intro-container {
  background-color: white;
  height: 150px;

  .intro-header {
    display: flex;
    padding: 10px;

    .intro-header-icon {
      background-color: #4368b2;
      border-radius: 50%;
      font-size: 15px;
      width: 18px;
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }

    i {
      margin-left: 4px;
      margin-top: 2px;
      color: white;
      margin-right: 20px;
    }

    p {
      margin-top: 2px;
      color: #4469b1;
    }
  }

  .intro-description {
    font-size: 12px;
    border-top: 1px solid #e9ebee;
    margin-left: 15px;
    margin-right: 15px;
    color: #1d2129;

    span {
      color: #365899;
    }

    p {
      font-weight: bold;
    }

    p > i:first-child {
      font-size: 16px;
      margin-top: 10px;
      margin-right: 10px;
      color: #abadb3;
      margin-left: 2px;
    }
    p:nth-child(2) {
      margin-left: 3px;
      i {
        font-size: 16px;
        margin-right: 12px;
        margin-left: 2px;
      }
    }
    p:nth-child(3) {
      i {
        margin-right: 3px;
        font-size: 16px;
      }
    }
  }
}

.profile-friends-container {
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;

  .profile-friends-heading {
    display: flex;
    padding: 20px;

    .profile-friends-icon {
      background-color: #f50d6b;
      border-radius: 50%;
      font-size: 12px;
      width: 18px;
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }

    i {
      margin-left: 4px;
      margin-top: 4px;
    }
  }
}

.profile-friend-link {
  &:nth-child(n + 4) {
    margin-top: 4px;
  }
}

.profile-friend-image {
  width: 101px;
  height: 101px;
  position: relative;
  background-size: cover;
  cursor: pointer;

  .friend-full-name {
    display: flex;
    position: absolute;
    font-size: 12px;
    color: white;
    right: 0;
    left: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    bottom: 0px;

    li {
      margin: 3px;
    }
  }
}

.all-friends-profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
