html {
  background-color: #e9ebee;
}

.left-portion {
  img {
    max-height: 20px;
    max-width: 20px;
    margin-top: 4px;
    margin-right: 5px;
  }

  span {
    margin: 0px 3px;
  }

  .current-user-link {
    padding: 5px;
    margin-right: 12px;
    display: flex;
    width: 180px;
    line-height: 28px;
    font-size: 13px;

    &:hover {
      background-color: #f6f7f9;
      cursor: pointer;
    }
  }
}


.landing-page-container {
  display: flex;

  .right-portion {
    margin-left: 10px;
  }
}

.about-developer-container {
  // position: absolute;
  right: 300px;
  flex-direction: column;
  display: flex;

  a {
    color: black;
    text-decoration: none;
  }

  i:first-child {
    margin-top: 0px;
  }

  i {
    font-size: 60px;
    padding: 5px;
    margin-top: 15px;
    // 63a44ccf0d904c129d190571906d8d3c
  }
}

.news-container {
  color: black;
  // position: absolute;
  right: 138px;
  top: 350px;
  width: 310px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 10px;

  .news-button {
      font-size: 13px;
      margin-top: 4px;
      text-decoration: underline;
      color: #365899;
      margin-bottom: 5px;
      cursor: pointer;
      margin-left: 10px;
  }

  .news-list-container {
    // max-height: 150px;
    overflow-y: hidden;
  }

  p {
    padding: 13px;
    font-size: 13px;
    line-height: 13px;
    color: #616770;
    font-weight: bold;
  }

  li {
    display: flex;
    padding: 3px 10px;

    .news-title {
      color: #1d2129;
      font-size: 13px;

      span {
        font-size: 13px;
        line-height: 16px;
        color: #616770;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    padding: 1px 3px;
    i {
      padding-right: 3px;
    }
  }
}

.profile-page-container {
  width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-profile-portion-container {
  position: relative;
  width: 850px;
  margin: 0 auto;
  margin-top: 45px;
}

.profile-image-container {
  position: absolute;
  bottom: 18px;
  padding: 4px;
  border: 1px solid #aaa;
  background: white;
  left: 15px;
  width: 170px;
  height: 170px;

  div {
    width: 160px;
    height: 160px;
    background-size: cover;
  }

  .upload-image-container {
    width: 160px;

    div {
      bottom: 0
    }

    .upload-image-hover {
      width: 160px;
      height: 60px;
      position: absolute;
      bottom: 5;
      color: transparent;
      display: flex;

      span:first-child {
        margin-left: 15px;
        margin-top: 20px;
        font-size: 25px;
      }

      span:last-child {
        margin-top: 18px;
        margin-left: 10px;
        text-align: left;
        font-size: 14px;
      }

      &:hover {
        // position: absolute;
        background-color: black;
        height: 52px;
        width: 160px;
        bottom: 5px;
        color: white;
        font-size: 12px;

        span:first-child {
          font-size: 12px;
        }

        span:last-child {
          font-size: 12px;
          width: 80px;
        }
      }
    }
  }
}




.profile-cover-container {
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
  height: 315px;

  div {
    display: flex;
  }
}

.profile-cover-image {
  width: 100%;
}

.profile-pages-container {
  background-color: white;
  height: 43px;
  border: 1px solid whitesmoke;

  ul {
    padding-left: 200px;
    display: flex;

    li {
      border-left: 1px solid whitesmoke;
      padding: 0 20px;
      line-height: 43px;

      &:last-child {
        border-right: 1px solid whitesmoke;
      }
    }
  }
}

.add-friend-container {
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, .4);
  width: 106px;
  background-color: #f6f7f9;
  color: #4b4f56;
  font-size: 12px;
  border: 1px solid;
  padding: 1px 10px;
  cursor: pointer;

  i {
    margin-top: 5px;
  }

  span{
    cursor: pointer;
  }

  .adding-friend {
    border: none;
    color: #4b4f56;
    cursor: pointer;
  }
}

.pending-friend-container {
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, .4);
  width: 150px;
  background-color: #f6f7f9;
  color: #4b4f56;
  font-size: 12px;
  border: 1px solid;
  padding: 1px 8px;
  cursor: pointer;

  i {
    margin-top: 5px;
  }

  span{
    cursor: pointer;
  }

  .adding-friend {
    border: none;
    color: #4b4f56;
    cursor: pointer;
  }
}

.friend-dropdown-container {
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, .4);
  width: 96px;
  background-color: #f6f7f9;
  color: #4b4f56;
  line-height: 26px;
  font-size: 13px;
  border: 1px solid;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;

  i {
    padding: 6px 4px;
  }

  span{
    cursor: default;
  }
}

.friend-dropeddown-container {
  position: relative;

  .post-dropdown {
    color: #4b4f56;
    top: 39px;
    right: -100px;
    width: 194px;
    height: 37px;
    z-index: 2;
    position: absolute;
    line-height: 26px;
    box-shadow: 1px 3px 14px 1px rgba(0,0,0,0.54);
    font-weight: normal;
    background-color: #e9ebee;

    .selection-option {
      line-height: 31px;
    }

    li:hover {
      width: 100%;
    }

    button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      width: 194px;
      height: 23px;
      text-align: left;
      padding: 0px 24px;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #365899;
      }
    }
  }
}

// Modal Profile Image

.modal-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  height: 40px;
  background-color: #f6f7f9;
  h2 {
    padding: 15px;
  }
}

.modal-close-button {
  cursor: pointer;
}

.modal{
  padding: 0px;
  width: 775px;
  // height: 601px;
  height: 320px;
  background-color: white;
  margin: 0 auto;
  margin-top: 35px;
}

.modal-body-container {
  width: 100%;
}

.modal-body {
  display: flex;
  cursor: pointer;
  font-size: 26px;
  height: 270px;

  i {
    margin-right: 15px;
  }

  .modal-body-label {
    padding: 120px;
    padding-left: 300px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  #profile-image {
    display: none;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(140, 141, 143, .4);
}

.modal-image-body {
  text-align: center;
  background-color: #f2f2f2;
}

.modal-image-view {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  padding: 30px;
}

.modal-image {
  padding: 0px;
  width: 775px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 35px;
}

.modal-image-footer {
  border-top: 1px solid #dddfe2;
  height: 42px;
  display: flex;
  justify-content: flex-end;

  .image-cancel-button {
    cursor: pointer;
  }

  .image-save-button {
    margin-left: 4px;
    background-color: #4267b2;
    cursor: pointer;
  }
}

.request-dropdown {
  width: 200px;
  position: absolute;
  background-color: white;
  top: 35px;
  right: 0px;
  height: 20px;
  border-radius: 5px;
  z-index: 2;
  //
  // .logout-container {
  //   text-align: center;
  //   width: 200px;
  //
  //   li > a {
  //     border-right: none;
  //   }
  //
  //   li:hover {
  //     background-color: #4367b2;
  //     width: 100%;
  //     border-radius: 5px;
  //   }
  //
  // }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
}

.fa-users {
  margin-left: 10px;
}

.user-name {
  color: white;
  font-size: 20px;
  z-index: 10;
  margin: 0;
  width: 650px;
  padding-right: 15px;
  position: absolute;
  bottom: 63px;
  left: 200px;
  display: flex;
  justify-content: space-between;

  button {
    border-radius: 0;
    height: 25px;
    padding: 0 5px;
    font-weight: bold;
    letter-spacing: 0.25px;
    font-family: Roboto, sans-serif;
  }
}

.social-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  background-image: asset-url('favicon.png');
}


.request_list_container {
  position: absolute;
  width: 430px;
  top: 32px;
  right: -48px;
  background-color: white;
  overflow-y: scroll;
  max-height: 500px;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    right: 74px;
  }

  .request_list_items {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #dddfe2;
    margin-bottom: 5px;
    color: #365899;
    padding: 8px 12px 6px 12px;

    .request_list_left {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .request-options {
      padding: 15px;
    }

    .requestor-name {
      padding-top: 12px;

      a {
        color: #4266b2;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        border-right: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .friend-request-text {
    // width: 94px;
    text-align: left;
    border-bottom: solid 1px #dddfe2;
    font-size: 12px;
    cursor: pointer;
    padding: 8px 12px 6px 12px;
    line-height: 1.34;
  }

  img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-top: 1px;
    margin-right: 2px;
    overflow: hidden;
  }

  button {
    line-height: 22px;
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
  }
}
