.profile-page-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-profile-portion-container {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.profile-image-container {
  width: 160px;
  height: 160px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  margin: 4px;
}

.profile-image-second-container {
  height: 168px;
  width: 168px;
  position: absolute;
  top: 175px;
  left: 20px;
  background-color: white;
}

.profile-image {
  width: 100%;
  background-color: #fff;
}

.profile-cover-container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  height: 315px;
}

.profile-cover-image {
  width: 100%;
}

.profile-pages-container {
  background-color: white;
}

.profile-pages {
  display: flex;
  margin: 0 auto;
  width: 360px;
}

.profile-pages > li {
  color: #0800ee;
  text-decoration: underline;
  font-weight: bold;
  height: 43px;
  line-height: 3.05;
  padding: 0 17px;
  font-size: 14px;
  border-left: 1px solid #e9eaed;
}

.profile-pages > li:last-child {
  border-right: 1px solid #e9eaed;
}
