.signup-form-layout {
  display: flex;
  width: 980px;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
}

.company-goal-message {
  font-size: 25px;
  margin: 35px 0px
}

.landing-page-left-section {
  width: 600px;
}

.photo-icon {
  size: 15px;
  background-image: asset-url('image1.png');
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
}

.photo-icon-description {
  display: flex;
}

.share-icon {
  background-image: asset-url('image2.png');
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
}

.search-icon {
  background-image: asset-url('image3.png');
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
}

.form-heading {
  flex-direction: column;
  width: 400px;
  float: right;
}

.signup-text {
  font-size: 35px;
  margin-top: 20px;
}

.signup-text-two {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}


.form-background {
  background-color: #EEF0F5;
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.signup-form {
  width: 400px;
  float: right;
  height: 300px;
}

.signup-first-name, .signup-last-name {
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  margin: 5px 0px;
  width: 160px;
  font-size: 18px;
}

.signup-last-name {
  margin-left: 10px;
}

.signup-email, .signup-password {
  border-radius: 5px;
  font-size: 15px;
  width: 342px;
  height: 25px;
  padding-left: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.signup-birthday-text {
  font-size: 20px;
  margin: 10px 0px;;
}

.signup-birthday-section {
  display: flex;
}

.signup-birthday-section > p {
  font-size: 12px;
  width: 150px;
  margin-left: 8px;
}

.signup-birthday {
  font-size: 10px;
  height: 25px;
}

.terms-to-agree {
  font-size: 10px;
  margin: 15px 0px;
  width: 250px;
}

.signup-button {
  color: white;
  background-color: green;
  width: 180px;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 0px;
}

// Errors

.errors-first-name {
  padding: 15px;
  background-color: red;
  color: white;
}
