.signup-form-layout {
  margin-right: 25px;
  width: 980px;
  align-items: flex-end;
}

.company-goal-message {
  font-size: 25px;
  margin: 35px 0px;

  p {
    padding: 30px 0 8px 0;
    font-size: 28px;
    line-height: 36px;
  }
}

.hidden-element {
  display: none;
}

.landing-page-left-section {
  width: 980px;
}

.photo-icon {
  background-image: asset-url('image1.png');
  min-width: 49px;
  min-height: 43px;
  background-repeat: no-repeat;
  margin-right: 17px;
}

.photo-icon-description {
  display: flex;
  margin-bottom: 33px;

  p:first-of-type {
    font-weight: bold;
    font-size: 17px;
  }

  p {
    font-size: 15px;
    padding-top: 15px;
    // margin-left: 5px;
  }

  p:nth-child(3) {
    margin-top: 2px;
    margin-left: 10px;
    color: #666666;
  }
}

.share-icon {
  background-image: asset-url('image2.png');
  min-width: 45px;
  min-height: 44px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.search-icon {
  background-image: asset-url('image3.png');
  min-width: 55px;
  min-height: 49px;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.form-heading {
  flex-direction: column;
  width: 400px;
  float: right;
}

.signup-text {
  font-size: 36px;
  margin-top: 20px;
}

.signup-text-two {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 18px;
}

.login-page-background-color {
  background-color: #EEF0F5;
  height: 600px;
}

.form-background {
  background-color: #EEF0F5;
  display: flex;
  width: 980px;
  margin: 0 auto;
}

.signup-form {
  width: 400px;
  float: right;
  height: 300px;
}

.signup-form-name {
  display: flex;
}

.signup-first-name, .signup-last-name {
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 39px;
  padding: 7px;
  margin: 5px 0px;
  width: 194px;
  font-size: 18px;
}

.signup-first-name-container {
  position: relative;
}

.signup-last-name-container {
  position: relative;
}

.signup-email-container {
  position: relative;
}

.signup-password-container {
  position: relative;
}

.signup-sex-container {
  position: relative;
  font-size: 18px;

  label {
    padding: 0 10px 0 3px;
  }
}

.signup-last-name {
  margin-left: 10px;
}

.signup-email, .signup-password {
  border-radius: 5px;
  font-size: 15px;
  width: 400px;
  height: 39px;
  padding-left: 10px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.signup-birthday-text {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.signup-birthday-section {
  display: flex;

  p {
    font-size: 11px;
    width: 150px;
    margin-left: 8px;
    line-height: 15px;
  }
}

.signup-birthday-month, .signup-birthday-date, .signup-birthday-year {
  font-size: 13px;
  height: 30px;
  padding: 5px;
}

.signup-birthday-date {
  width: 49px;
}

.terms-to-agree {
  color: #777;
  font-size: 11px;
  margin: 15px 0px;
  width: 316px;
  line-height: 1.34;
  direction: ltr;

  p {
    margin-left: 1em 0;
  }
}

.signup-button {
  color: white;
  background-color: green;
  min-width: 194px;
  font-size: 19px;
  height: 40px;
  border-radius: 5px;
  // margin: 10px 0px;
  padding: 7px 20px;
  margin-bottom: 11px;
}

// Errors

.errors-first-name {
  padding: 15px;
  background-color: red;
  color: white;
}

.signup-form-first-name-error {
  position: absolute;
  top: -2px;
  left: -150px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 122px;
  font-size: 12px;
}

.signup-form-last-name-error {
  position: absolute;
  top: -40px;
  left: 10px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 122px;
  font-size: 12px;
}

.signup-form-email-error {
  position: absolute;
  top: 5px;
  left: -150px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 122px;
  font-size: 12px;
}

.signup-form-password-error {
  position: absolute;
  top: 40px;
  left: 80px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 233px;
  font-size: 12px;
}

.signup-form-sex-error {
  position: absolute;
  top: -10px;
  left: -150px;
  background-color: #990000;
  padding: 10px;
  border-radius: 5%;
  color: white;
  width: 122px;
  font-size: 12px;
}
